.bg {
    width: 100vw;

}

.img {
    position: absolute;
    left:1124px;
    top:18705px;
}

.home {
    position: absolute;
    left:1497px;
    top:18428px;
}

.work {
    position: absolute;
    left:1589px;
    top:18428px;
}

.contact {
    position: absolute;
    left:1695px;
    top:18428px;
}

.be {
    position: absolute;
    left:256px;
    top:19057px;
}